<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aef.edu.aef">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_cool"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AefMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".content_activities.AefContentHome"/>
        <activity android:name=".content_activities.AefContextMoreDetails"/>
        <activity android:name=".handlers.AefContextHandler">
        </activity>
        <activity android:name=".content_activities.AefContentNews">
        </activity>
        <activity android:name=".content_activities.AefAboutUs">
        </activity>
        <activity android:name=".content_activities.AefContactUs">
        </activity>
    </application>

</manifest>